DOMAIN_NAME=
SUBDOMAIN=
N8N_WEBHOOK_BASE_URL=
PGA_SUBDOMAIN=
SITE_SUBDOMAIN=
SSL_EMAIL=
GENERIC_TIMEZONE=
DB_TYPE=postgresdb
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=n8n
DB_DATABASE_DATA=
DB_USER=postgres
DB_PASSWORD=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
TELEGRAM_BOT_TOKEN=
ALLOW_LOCAL_WEBHOOKS=true
BLOCK_MEDIA=true
CRAWL_CONCURRENT_REQUESTS=1
FIRECRAWL_POSTGRES_USER=postgres
FIRECRAWL_POSTGRES_PASSWORD=
FIRECRAWL_POSTGRES_HOST=postgres
FIRECRAWL_POSTGRES_PORT=5432
FIRECRAWL_POSTGRES_DB=firecrawl
FIRECRAWL_REDIS_URL=
USE_DB_AUTHENTICATION=false
NUM_WORKERS_PER_QUEUE=1
CRAWL_CONCURRENT_REQUESTS=10
MAX_CONCURRENT_JOBS=10
BROWSER_POOL_SIZE=5
OPENAI_API_KEY=
OPENAI_BASE_URL=
MODEL_NAME=
MODEL_EMBEDDING_NAME=
OLLAMA_BASE_URL=
AUTUMN_SECRET_KEY=
SLACK_WEBHOOK_URL=
BULL_AUTH_KEY=
TEST_API_KEY=
SUPABASE_ANON_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_TOKEN=
SELF_HOSTED_WEBHOOK_URL=
LOGGING_LEVEL=
SEARXNG_ENDPOINT=
SEARXNG_ENGINES=
SEARXNG_CATEGORIES=
FIRECRAWL_INTERNAL_PORT=
EXTRACT_WORKER_PORT=
WORKER_PORT=
