BASE_DOMAIN_NAME=
N8N_SUBDOMAIN=
N8N_WEBHOOK_BASE_URL=
N8N_WEBHOOK_URL=
PGA_SUBDOMAIN=
BUH_OFFICE_SUBDOMAIN=
REZBAJKA_SUBDOMAIN=
REZBAJKA_DOMAIN=
SSL_EMAIL=
GENERIC_TIMEZONE=
DB_TYPE=postgresdb
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=n8n
DB_BUCH_DATA=
DB_USER=postgres
DB_PASSWORD=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
TELEGRAM_BOT_TOKEN=
