buhgalterija-office/assets/*
!buhgalterija-office/assets/.gitignore
buhgalterija-office/protected/runtime/*
!buhgalterija-office/protected/runtime/.gitignore
buhgalterija-office/protected/data/*.db
buhgalterija-office/themes/classic/views/
.env
.vscode
test
.venv